networks:
  egarNetwork:
    driver: bridge

x-common-environment: &common-environment
  RabbitMq__Host: "rabbitmq"
  RabbitMq__Port: "5672"
  RabbitMq__VirtualHost: "/"
  RabbitMq__Username: "admin"
  RabbitMq__Password: "admin"

x-db-connection: &db-connection
  ConnectionStrings__MsSqlConnection: "Server=sql-server;Database=EGARDB;User=sa;Password=StrongP@ssw0rd!;TrustServerCertificate=true;MultipleActiveResultSets=true"

services:
  sql-server:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: egar-sql-server
    restart: unless-stopped
    ports:
      - "1405:1433"
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "StrongP@ssw0rd!"
      MSSQL_PID: "Express"
    networks:
      - egarNetwork        
    healthcheck:
      test: ["CMD", "/opt/mssql-tools/bin/sqlcmd", "-S", "localhost", "-U", "sa", "-P", "StrongP@ssw0rd!", "-Q", "SELECT 1"]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 40s
      
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: egar-rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"   # AMQP
      - "15672:15672" # Web UI
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
    networks:
      - egarNetwork

  egar-sql-migrations:
    build: 
      context: ./back 
      dockerfile: EGAR.Migrations/Dockerfile 
    # depends_on: 
    #   sql-server: 
    #     condition: service_healthy 
    environment:
      <<: *db-connection
    restart: on-failure
    networks:
      - egarNetwork 

  egar-web-api:
    build:
      context: ./back
      dockerfile: EGAR.Api/Dockerfile
    ports:
      - "5011:80"
    restart: unless-stopped
    # depends_on:
    #   sql-server:
    #     condition: service_healthy
    environment:
      <<:
        - *db-connection
        - *common-environment
    networks:
      - egarNetwork

  egar-web-ui:
    build:
      context: ./front
      dockerfile: Dockerfile
      args:
        - VITE_API_OTA_URL=http://localhost:5011/api
    ports:
      - "4173:4173"      
    restart: unless-stopped
    networks:
      - egarNetwork
